.navBar {
  display: flex;  
  align-items: center;
  justify-content: center; 
  width: 100%;
}
.menu {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; 
    width: 100%;
  }
  
  .menu h4 {
    margin: 0; /* Elimina márgenes para evitar espacio extra alrededor del h4 */
  }
  
  .menu img {
    width: 40px; /* Ajusta el tamaño de la imagen */
    height: auto; 
    justify-content: end;
  }
  