.navBar{
  display: flex;  
  align-items: center;
  justify-content: center; 
  width: 100%;
  background-color: rgb(73, 162, 34);
}
.navBarPalabras {
  display: flex;  
  align-items: center;
  justify-content: center; 
  width: 70%;
  background-color: rgb(230, 58, 58);
}
.menu {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 80%;
  }
  
  .menu h4 {
    margin: 0; 
  }
  
  .navBarImagen {
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 20%;
    background-color: rgb(97, 104, 234);
  }
  
  .navBarImagen img {
    width: 100%; /* La imagen no será más grande que el contenedor */
    height: auto; /* Mantiene la proporción */
  } 
  